{% extends "base_staff.html" %}
{% block title %}Staff - Connexion{% endblock %}
{% block content %}
<div class="card" style="max-width:420px; margin:40px auto;">
    <h1>Connexion staff</h1>
    <form class="form" method="post">
        {% csrf_token %}
        <label>Identifiant<input name="username" required></label>
        <label>Mot de passe<input type="password" name="password" required></label>
        <label><input type="checkbox" name="remember"> Se souvenir</label>
        <button class="btn">Se connecter</button>
    </form>
</div>
{% endblock %}
